.grid-item {
    position: relative;
    border-radius: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
    color:white;

    background-size: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
    margin-top: 1em;
    transition: all 1s ease-in-out;

    animation: backInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.8s; /* don't forget to set a duration! */

  }

  .description{
    padding: 1em;
    width: 100%;
    background-image: linear-gradient(transparent, black);        
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
  }